body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background: #111;
    color: white;
}

canvas {
    margin-top: 20px;
    border: 3px solid #444;
    border-radius: 10px;
}
